# ==========================
# Dependencies
# ==========================
node_modules/
**/node_modules/

# ==========================
# Environment
# ==========================
.env
.env.*
!.env.example

# ==========================
# Expo
# ==========================
.expo/
.expo-shared/
web-build/
dist/

# ==========================
# React Native
# ==========================
*.apk
*.aab

# ==========================
# Build
# ==========================
build/
coverage/
.tmp/
temp/

# ==========================
# Logs
# ==========================
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# macOS
# ==========================
.DS_Store

# ==========================
# Windows
# ==========================
Thumbs.db

# ==========================
# Secrets
# ==========================
google-services.json
GoogleService-Info.plist

# ==========================
# Local database
# ==========================
*.sqlite
*.db

# ==========================
# Cache
# ==========================
.cache/
.parcel-cache/

# ==========================
# Typescript
# ==========================
*.tsbuildinfo